<!-- Toolbar -->
<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      This is a demonstration of User Flow chart with dropouts using <a href="https://github.com/d3/d3-sankey"
        target="_blank">D3 sankey</a> in Angular 10
    </span>
  </div>
</header>

<div class="container-fluid pt-3 user-flow" role="main">
  <!-- user-flow card -->
  <div class="row">
    <div class="col-sm-12 px-0">
      <div class="card">
        <div class="card-header fw-500">
          User Flow
        </div>
        <div class="card-body">
          <!-- if data not loading -->
          <perfect-scrollbar [hidden]="isFetchingUserFlowData" class="col-sm-12 scroll-container border"
            [scrollIndicators]="true">
            <!-- data found -->
            <div [hidden]="!userFlowData.nodes.length" id="sankey" class="p-1 pb-3"></div>
            <!-- data not found -->
            <div [hidden]="userFlowData.nodes.length">
              <div class="d-flex justify-content-center">
                No data found
              </div>
            </div>
          </perfect-scrollbar>
          <!-- if data loading -->
          <div [hidden]="!isFetchingUserFlowData">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
</footer>